.bg_project_create{
    background-color: #687fd5;
    border-radius: 5%;
}
.bg_project_color{
    color: mediumblue;
    text-align: center;
}
.button_create{
    background-color: white;
    color: white;
    border-color: white;
}
.color_text_field{
    color: white;
}
#bg_card_false{
    background-color: #ffffff;
    color: #000000;
}
#color_circle_true{
    color: #ffffff;

}
#color_circle_false{
    color: #9c27b0;
}
#divider{
    border-bottom: thin solid white;
}
#bg_card_true{
    background-color: #9c27b0;
    color: #ffffff;
}
.link_underline_none{
    text-decoration: none;
}
.x_button{
    display: flex;
    justify-content: space-around;
}
.text_checked_true{
    text-decoration: line-through;
}
.text_checked_false{
text-decoration: none;
}